<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<main class="container py-5">
    <h1 class="mb-3">Countries</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Population</th>
            <th>Capital</th>
            <th>Currency</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countries}">
            <td th:text="${country.name}"></td>
            <td th:text="${country.population}"></td>
            <td th:text="${country.capital}"></td>
            <td th:text="${country.currency}"></td>
            <td>
                <a th:href="@{'/countries/details/' + ${country.name}}"
                   class="btn btn-sm btn-outline-success">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>
</html>